services:
  postgres:
    image: postgres
    container_name: ddt_postgres
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - ./docker/postgres/data:/var/lib/postgresql/data
